/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.puces{
  list-style: none;
}

body{
  margin: 30px auto;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1{
  font-size: 3em;
  font-weight: 500;
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-align: center;
  text-shadow: 1px 3px #0496ff;
  color: #131b23;
  margin-bottom: 50px;
}

h2{
  font-family: "roboto";
  font-size: 2em;
  color: #E4E824;
  text-shadow: 1px 1px #131b23;
}

a{
  text-decoration: none;
  color: #131b23;
  font-size: 1.4em;
  margin-left: 15px;
  color:rgb(from color r g b);
}

a:hover{
  color: #04e824;
  text-shadow: 1px #131b23;
